.performers {
  background: url("../../image/bgPerformers.png") no-repeat;
  background-size: 100%;
  min-height: 100vh;
  overflow: hidden;

  .sliderPerform {
    position: relative;
    width: 300%;
    margin: 10rem 0;
    left: 0;
    animation: 15s slider infinite alternate;
    z-index: -1;

    div {
      width: 33.33%;
      float: left;
      background: url("../../image/stroke.png") bottom no-repeat;
      text-align: center;
      margin-bottom: 5rem;

      h1 {
        font-size: 5rem;
        letter-spacing: 5px;
        line-height: 80px;
        text-transform: uppercase;
        font-family: $secondaryFont;
        padding: 40px 0;

        span {
          color: $primaryColor;
        }
      }

      p {
        font-size: 1.3rem;
        max-width: 650px;
        margin: 0 auto;
        line-height: 25px;
        margin-bottom: 5rem;

        span {
          color: $primaryColor;
          font-weight: 900;
        }
      }
    }
  }

  > img {
    transform: rotate(90deg);
    cursor: pointer;
  }

  > img:last-child {
    transform: rotate(-90deg);
  }
}

@keyframes slider {
  0% {
    left: 0;
  }

  30% {
    left: 0;
  }

  33.33% {
    left: -100%;
  }

  60% {
    left: -100%;
  }

  67% {
    left: -200%;
  }

  100% {
    left: -200%;
  }
}
